.link{
    font-size: 18px;
    font-weight: 500;
    margin-left: 20px;
    color: white;
}
.active-link{
    font-size: 18px;
    font-weight: 500;
    margin-left: 20px;
    color: rgb(10, 116, 198);
}

@media screen and (max-width:375px) {
    .link{
        font-size: 16px;
        margin-left: 17px;
    }
    .active-link{
        font-size: 16px;
        margin-left: 17px;
    }
    
}