.link{
    font-size: 18px;
    font-weight: 500;
    margin-left: 20px;
    color: white;
}
.active-link{
    font-size: 18px;
    font-weight: 500;
    margin-left: 20px;
    color: rgb(10, 116, 198);
}